<h2><%= @model.name %></h2>
<p><%= @model.description %></p>

<p><strong>Файл:</strong> <%= link_to "Скачать", rails_blob_path(@model.file, disposition: "attachment") %></p>

<div id="three-container" data-obj-url="<%= rails_blob_url(@model.file) %>" style="width: 100%; height: 500px; position: relative;">
  <!-- Здесь будет отрисована 3D-сцена -->
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag "lib/forms", type: "module", "data-turbo-track": "reload" %>
<% end %>
