<h2><%= @model.name %></h2>
<p><%= @model.description %></p>

<p><strong>Файл:</strong> <%= link_to "Скачать", rails_blob_path(@model.file, disposition: "attachment") %></p>

<div id="model-container" class="w-full h-96" 
  data-model-url="<%= rails_blob_url(@model.file) %>">
</div>

<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>

<% content_for :javascript do %>
  <%= javascript_include_tag "lib/show_model", type: "module", defer: true %>
<% end %>
