<div class="page-container">
  <div class="content-container">
    <div class="header-container">
      <h5 class="header-title">
        <% if current_user.roles&.first&.name == "admin" %>
          Управление пользователями
        <% else %>
          Участники группы
        <% end %>
      </h5>
      <% if current_user.roles&.first&.name == "admin" %>
        <%= link_to "Пригласить пользователя", new_profile_user_path, class: "action-button" %>
      <% end %>
    </div>

    <table class="data-table">
      <thead>
        <tr>
          <th>Имя</th>
          <th>E-mail</th>
          <th>Статус</th>
          <th>Роль</th>
          <th>Добавлен</th>
          <% if current_user.roles&.first&.name == "admin" %>
            <th>Действия</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="font-medium text-gray-900">
              <%= user.name %>
            </td>
            <td><%= user.email %></td>
            <td>
              <%= user.accepted_or_not_invited? ? "Активен" : "Приглашен" %>
            </td>
            <td>
              <%= user.roles&.first&.name&.capitalize %>
            </td>
            <td>
              <%= user.created_at.strftime('%d.%m.%Y') %>
            </td>
            <% if current_user.roles&.first&.name == "admin" %>
              <td class="flex items-center gap-2">
                <%= link_to 'Управлять', edit_profile_user_path(user), class: 'text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
                <% unless user.id == current_user.id %>
                  <%= button_to 'Удалить', profile_user_path(user), 
                      method: :delete, 
                      form: { 
                        data: { turbo_confirm: "Вы уверены, что хотите удалить этого пользователя?" }
                      },
                      class: 'text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex',
                      form_class: 'inline-block' %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
